/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label {
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas.renderCanvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}



button.panelButton {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: transform 0.1s;
    &:hover {
        transform: scale(1.05, 1.05);
    }
    &:active {
        transition: transform 0.03s;
        transform: scale(0.9, 0.9);
    }   
}

.panels {
    width: fit-content;
    height: fit-content;
    .newShapePanel {
        position: absolute;
        top: 15px;
        left: 15px;
        height: auto;
    }

    .shapeList {
        position: absolute;
        top: 115px;
        left: 15px;
        max-height: calc(100vh - 230px);
        overflow: hidden auto;
        .shapeListItem {
            display:block;
            color: white;
            background: rgba(0,0,0,0.5);
            padding: 3px;
            border: 1px solid black;
            margin-bottom: 3px;
            border-radius: 3px;
            min-width: 200px;
            text-align: left;
            &.active {
                background: rgba(255, 0, 0, 0.5);
            }
            .delete {
                float:right;
            }
            &:hover {
                border:1px solid red;
            }
        }
    }

    .exportPanel {
        position: absolute;
        max-height: 200px;
        bottom: 15px;
        left: 15px;
        .copyShapes {
            transition: background-color 0.5s;
            &.confirmed {
                transition: background-color 0s;
                background-color: rgba(0,255,0,0.5);
            }

        }
    }

    .shapeDetailPanel {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius:15px;
        position: absolute;
        top: 15px;
        right: 15px;
        max-height: calc(100vh - 30px);
        overflow:hidden auto;
        .ui.form {
            .ui.label {
                color: white;
                background-color: transparent;
            }
            .inline.fields {
                .field {
                    label {
                        color: white;
                    }
                }
        
            }
        }
        
    }
}